/**
 *  Dark colouring on top of `base.css`
 */

.webshell {
  box-sizing: border-box;
  overflow: scroll;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  font-family: monospace;
  padding: 0.5em;
}
.webshell-prompt-user { color: #65c858 }
.webshell-prompt-at { color: #cac43b }
.webshell-prompt-path { color: #999 }
.webshell-prompt-delimiter { color: #c0253e; }

.webshell a {
  color: inherit;
}
